[Oumayma@localhost ~]$ sudo systemctl start docker
[sudo] password for Oumayma:
[Oumayma@localhost ~]$ sudo systemctl status docker


[Oumayma@localhost ~]$ docker images
[Oumayma@localhost ~]$ docker ps -l
[Oumayma@localhost ~]$ docker ps -a
[Oumayma@localhost ~]$ docker network ls


[Oumayma@localhost ~]$ mkdir orchestration
[Oumayma@localhost ~]$ cd orchestration
[Oumayma@localhost orchestration]$ vim Dockerfile
[Oumayma@localhost orchestration]$ docker build --rm -t centos-ssh .
[Oumayma@localhost orchestration]$ docker images
[Oumayma@localhost orchestration]$ docker run -d -P --name test_centos_ssh centos-ssh
[Oumayma@localhost orchestration]$ docker ps -l
[Oumayma@localhost orchestration]$ docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' test_centos_ssh
[Oumayma@localhost orchestration]$ ssh root@172.17.0.4
[root@f23690f52790 ~]# exit


[Oumayma@localhost orchestration]$ vim docker-compose.yml
[Oumayma@localhost orchestration]$ docker compose up
[Oumayma@localhost orchestration]$ docker ps -a
[Oumayma@localhost orchestration]$ docker network ls
[Oumayma@localhost orchestration]$ docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' centos_build_test
[Oumayma@localhost orchestration]$ ssh root@192.168.20.2
[root@371a0f8e8db5 ~]# exit


[Oumayma@localhost orchestration]$ docker exec -d 371a0f8e8db5 bash -c "echo 'nameserver 8.8.8.8' > /etc/resolv.conf"
[Oumayma@localhost orchestration]$ docker exec -it 371a0f8e8db5 bash


[Oumayma@localhost orchestration]$ docker login --username=oumaymacharrad
[Oumayma@localhost orchestration]$ docker tag d104aad35156 oumaymacharrad/centos-ssh:latest
[Oumayma@localhost orchestration]$ docker push oumaymacharrad/centos-ssh
